.card {
  height: 10rem;
  width: 7.1rem;
  line-height: 8rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  font-size: 3rem;
  text-align: center;
  transition: 0.2s;
  border: 0px;
  cursor: pointer;
  background-color: #fff;
  background-size: cover;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.337);
}

@media only screen and (max-width: 700px) {
  .card {
    height: 8.5rem;
    width: 5.95rem;
  }
}
.sm {
  height: 5rem;
  width: 3.5rem;
  border-radius: 0.25rem;
}

.card:active {
  transform: translateY(-15px);
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.frontCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.frontCard:hover {
  transform: scale(1.2);
}
.pickedCard {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 240, 240);
}
.opponent {
  transform: rotate(180deg);
}
