.row {
  display: flex;
  width: 100%;
  padding: 2.5rem 0;
  justify-content: center;
  background-color: #0067a5;
}

.scores {
  height: 7rem;
  float: left;
  margin: 4rem auto;
}

.playButton {
  margin: auto;
  height: 3rem;
  width: 4rem;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.playButton:active {
  outline: none;
}
.playButton:focus {
  outline: 0;
}
