.theTable {
  box-shadow: inset 0 0 4px #000000;
  position: relative;
  width: 60%;
  height: 25rem;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 0 auto;
  top: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .theTable {
    width: 70%;
  }
  .cardTable {
    width: 80% !important;
    height: 13rem;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }
  .theTable {
    width: 98%;

    position: absolute;
    margin: 25% 0;
  }
  .cardTable {
    width: 100% !important;
    height: 13rem;
    left: 0%;
  }
  .card {
    transition: 0.3s;
    height: 8.5rem !important;
    width: 5.95rem !important;
    border-radius: 0.2rem;
    background-size: cover;
    text-align: center;
  }
}

.cardTable {
  height: 16rem;
  width: 90%;
  position: absolute;
  border-spacing: 1rem;
  border-collapse: separate;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardRow {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}

.card {
  transition: 0.3s;
  height: 10rem;
  width: 7rem;
  border-radius: 0.2rem;
  background-size: cover;
  text-align: center;
}

.backCard {
  background-image: url(/cards/mb_neocard_back_blue.svg);
  transform: rotateY(180deg);
}

.playButton2 {
  height: 3rem;
  width: 100%;
  margin: 2rem 0;
  border-radius: 0.4rem;
  font-weight: 300;
  color: #fff;
  border: unset;
  background-color: #004480ff;
  text-align: center;
  font-weight: bold;
  bottom: 2rem;
  box-shadow: 0 0 2px #000000;
}
.playButton2:active {
  outline: none;
  box-shadow: 0 0 1px #000000;
  transform: translateY(1px);
}
.playButton2:focus {
  outline: 0;
}

.scores {
  position: relative;
  top: -9.5rem;
  right: 1rem;
}

.frontCard {
  background-color: rgb(247, 247, 247);
}
