.theTable {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 60%;
  height: 25rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 0.2rem solid #000000;
  margin: 0 auto;
  top: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .theTable {
    width: 70%;
  }
  .cardTable {
    width: 80% !important;
    height: 13rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 75%;
  }
  .theTable {
    width: 130%;
  }
  .cardTable {
    width: 100% !important;
    height: 13rem;
  }
}

.cardTable {
  height: 16rem;
  width: 90%;
  position: absolute;
  border-spacing: 1rem;
  border-collapse: separate;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardRow {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}

.card {
  transition: 0.3s;
  height: 10rem;
  width: 7rem;
  border-radius: 0.2rem;
  background-size: cover;
  text-align: center;
}

.frontCard {
  background-image: url(../cards/mb_neocard_front_blue.svg);
}
.backCard {
  background-image: url(../cards/mb_neocard_back_blue.svg);
  transform: rotateY(180deg);
}
