.row {
  display: flex;
  width: 100%;
  padding: 2.5rem 0;
  justify-content: center;
  background-color: #0067a5;
}

.scores {
  height: 7rem;
  float: left;
  margin: 4rem auto;
}

.playButton {
  border-radius: 0.4rem;
  margin: auto;
  height: 4rem;
  width: 4rem;
}
