.playerContainer {
  width: 100%;
  padding: 2rem 0;
  /*clip-path: polygon(0 0, 100% 6%, 100% 97%, 0 100%);*/
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  background-color: #ff7fa4;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.247);
}

.playerCards {
  width: 100%;
  display: flex;
  justify-content: center /*space-evenly*/;
}

@media only screen and (max-width: 700px) {
  .playerContainer {
    position: absolute;
    top: 55%
  }
}
