.board {
  margin: 1rem auto;
  width: 3rem;
  height: 3rem;
  line-height: 2.9rem;
  text-align: center;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: inset 0 0 2px #000000;
}

.board2 {
  margin: 0.8rem auto;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  box-shadow: inset 0 0 2px #000000;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 4.75rem;
}

.player {
  background-color: #74f0c1;
  right: 1%;
}
.opponent {
  background-color: #ff7fa4;
  right: 12.5%;
}
